.happyrunner-nav{
    position: relative;    
}

.happyrunner-link{
    position: relative;
    z-index: 1;    
}

.happyrunner-runner{
    z-index: 0;
    position: absolute;
    top: 0;
    left: 0;
    
    -webkit-transition: all 0.6s ease-in-out; 
    -moz-transition: all 0.6s ease-in-out; 
    -o-transition: all 0.6s ease-in-out; 
    transition: all 0.6s ease-in-out; 
}